/* CSS to make height fill properly stolen from http://peterned.home.xs4all.nl/examples/csslayout1.html */
html,body {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
}

div#contentDiv {
	margin: 0 auto; /* center, not in IE5 */
	width: 760px;
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
}